@import "../main/mixins.scss";
@import "../main/variables.scss";




.single-room_wrapper {
    padding: 0 !important;
    width: 100%;

    & .mphb-single-room-type-thumbnails {
        height: 42.5rem;
        margin-bottom: 10rem;
        overflow: hidden;

        @include media_rule_max($mobile) {
            height: 32rem;
            margin-bottom: 7.5rem;
        }

        &>img {
            object-fit: cover;
            width: auto;
        }
    }

    & .mphb-room-type-title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        font-family: $secondary_font;
        font-weight: 600;
        font-size: 1.875rem;
        margin-bottom: .8125rem;

        @include media_rule_max($mobile) {
            font-size: 1.25rem;
        }

        &::before {
            content: "";
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.5rem;
            height: 1.5rem;
            background-size: 1.5rem;
            object-fit: contain;
            background-repeat: no-repeat;
            background-image: url("../../assets/images/icon_home.png");

            @include media_rule_max($mobile) {
                width: 1.25rem;
                height: 1.25rem;
            }
        }


    }

    &>.mphb-regular-price {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        width: fit-content;
        margin-inline: auto;
        margin-bottom: .8125rem;

        & .price_text {
            position: relative;
            cursor: pointer;
            border-radius: .375rem;
            padding: .25rem .75rem;
            width: fit-content;
            height: 1.75rem;
            background-color: $green;
            font-weight: 600;
            font-size: 1rem;

            &:hover+.price_notice {
                display: flex;
            }

        }

        & .price_notice {
            display: none;
            position: absolute;
            top: -0.25rem;
            right: -8.375rem;

            &-icon {
                font-size: 1.5rem;
                color: red;
                position: absolute;
                top: -0.25rem;
                right: .125rem;
            }
        }
    }

    & .accommodations_facilities-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem 3.75rem;
        width: 56.6875rem;
        margin-top: 2rem;
        margin-bottom: 5rem;

        @include media_rule_max($mobile) {
            margin-top: 1.5rem;
            margin-bottom: 1rem;
            grid-template-columns: 1fr 1fr;
            overflow-x: scroll;
            overflow-y: hidden;
            padding: 0.25rem 1rem;
            width: auto;
            height: fit-content;

            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        & .accommodations_facilities-icon {
            margin-right: 1.25rem;
        }

        &>.facility-kitchen {
            order: 100;
        }

        &>.accommodations_facilities-item {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: .75rem;
            color: $dark_green;

            font-weight: 400;
            font-size: 1rem;
            letter-spacing: 0.04em;
            height: 3rem;

            @include media_rule_max($mobile) {
                width: auto;
                padding-left: 0;
            }

            &::after {
                content: "";
                display: flex;
                align-items: center;
                background: url("../../assets/images/green_check.png");
                object-fit: contain;
                background-size: 1.5rem;
                width: 1.5rem;
                height: 1.5rem;
                margin-left: auto;
            }
        }
    }

    & .single-room_content {
        max-width: 50rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
        margin-bottom: 5rem;
        padding: 0 1rem;

        &>h2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: Montserrat;
            font-size: 1.75rem;
            font-weight: 500;
            line-height: 2.1331rem;
            letter-spacing: 0.06em;

            & img {
                width: 1.5rem;
                height: 1.5rem;
                margin-top: 5rem;

                @include media_rule_max($mobile) {
                    margin-top: 2.5rem;
                }
            }
        }

        &>h3 {
            font-family: Montserrat;
            font-size: 1.25rem;
            font-weight: 600;
            line-height: 1.8288rem;
            letter-spacing: 0.06em;
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 1rem;

            @include media_rule_max($mobile) {
                margin-top: 1rem;
                margin-bottom: 0;
            }
        }

        &>ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-top: 1rem;


            &>li {
                display: flex;
                width: 100%;
                font-family: Montserrat;
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.2188rem;
                letter-spacing: 0.06em;

                &::before {
                    content: url('../../assets/images/1tree.svg');
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                    width: 1.5rem;
                    height: 100%;
                    margin-right: 1.5rem;

                    @include media_rule_max($mobile) {
                        margin-right: 1rem;
                        width: .6944rem;
                    }
                }

                & .single-room_content-wrapper {
                    display: flex;
                }
            }
        }

        & .single-room_content-one-item>li {
            justify-content: center;
        }
    }

}

.accommodations-single {
    &_trees_icon {
        text-align: center;
        margin-bottom: 1rem;

        @include media_rule_max($mobile) {
            display: none;
        }

        & svg {
            stroke: $orange;
            width: 4.5rem;
            height: 3.3rem;
        }
    }

    &__gallery {
        margin-bottom: 2.5rem;
        height: 100%;
        width: 100%;

        @media screen and (max-width: $mobile) {
            margin-bottom: 1.5rem;
        }

        &--wrapper {
            align-items: center;
        }

        &--slide {
            @include media_rule($mobile) {
                width: 38.25rem !important;
                height: 17.37rem !important;
            }

            width: 100%;
            height: 17.5rem !important;

            scale: 1.06;
            overflow: hidden;
            transition: $transition-function;

            &.swiper-slide-next,
            &.swiper-slide-prev {
                scale: 0.92;
            }

            & img {
                min-width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        & .one-apartment__navigation {
            position: absolute;
            z-index: 5;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: space-between;
            width: 60.5625rem;

            &--prev,
            &--next {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 3rem;
                height: 3rem;
                background-color: $white;
                border-radius: 50%;
                cursor: pointer;

                & svg {
                    width: 1.6875rem;
                    height: 1.25rem;
                    stroke: $main_text;
                }

                @media screen and (max-width: $mobile) {
                    display: none;
                }
            }

            &--next {
                transform: rotate(180deg);
            }
        }
    }

    &_booking_section {
        display: flex;
        justify-content: center;
        gap: 3.125rem;
        margin-bottom: 5rem;

        & .mphb-reserve-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: .34rem;
            background-color: $yellow;
            margin-inline: auto;
            width: 100%;
            height: 3rem;
            margin-bottom: 0 !important;
        }

        & input {
            width: max-content;
            font-size: 1rem !important;
            padding: 0;
            border: none !important;
            background-image: none
        }
    }

    &_search-section {
        height: 31.9375rem;
        margin-bottom: 5rem;

        @include media_rule_max($mobile) {
            height: 50.75rem;
        }

        & .mphb_sc_search-submit-button-wrapper {
            color: $main_text;
        }
    }
}