@import "../main/mixins.scss";
@import "../main/variables.scss";

.blog-page {
    margin-bottom: 0;

    @include media_rule($mobile) {
        margin-bottom: 5.75rem;
    }

    &__hero {
        height: 32rem;
        margin-bottom: 5rem;

        @include media_rule($mobile) {
            height: 42.5rem;
        }

        &-image {
            object-fit: cover;
            height: 100%;
        }

        & .secondary-hero-section {
            padding: 0;
        }
    }

    &__blogs {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-top: 2.125rem;
        margin-bottom: 0;

        @include media_rule($mobile) {
            grid-template-columns: 1fr 1fr;
            margin-top: 1.25rem;
            column-gap: 1rem;
            row-gap: 2.5625rem;
        }

        @include media_rule($tablet) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        &-section {
            margin-bottom: 7.5rem;

            @include media_rule($mobile) {
                position: relative;
                z-index: 100;
                margin-bottom: 0;

                &-container {
                    margin-inline: auto;
                    padding: 0 3.125rem;
                }
            }
        }
    }

    &_blog {
        display: flex;
        flex-direction: column;

        &__image {
            object-fit: cover;
            height: 100%;

            &-wrapper {
                margin-bottom: 0.5rem;
                height: 16.5rem;
                flex-shrink: 0;

                @include media_rule($tablet) {
                    padding: 0;
                }
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 0 1rem;

            @include media_rule($mobile) {
                padding: 0;
            }
        }

        &__title {
            font-weight: 600;
            font-size: 1rem;
            letter-spacing: 0.04em;
            margin-bottom: 0.5rem;
        }

        &__text {
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.0669rem;
            margin-bottom: auto;
            flex-shrink: 0;
            height: 4.8rem;
            overflow: hidden;

            & p {
                display: -webkit-box;
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;

                &:not(:first-child) {
                    display: none;
                }
            }

            @include media_rule($mobile) {
                height: 5.3rem;
                margin-bottom: .25rem;
            }

            @include media_rule($tablet) {
                height: 5rem;
                overflow: hidden;
                margin-bottom: .25rem;
            }

            &-mb {
                height: 100%;
                flex-grow: 1;
            }
        }

        &__read-more-btn {
            display: flex;
            justify-content: flex-end;
        }
    }

    & .location-section {
        @include media_rule($mobile) {
            display: none;
        }
    }

    & .location-section {
        @include media_rule($mobile) {
            display: none;
        }
    }
}

.single-blog {
    &__svg {
        display: flex;
        justify-content: center;
        margin-bottom: 1.25rem;

        @include media_rule($tablet) {
            margin-bottom: 1rem;
        }
    }

    &__hero {
        height: 27.875rem;
        margin-bottom: 1.7813rem;

        @include media_rule($mobile) {
            height: 39.125rem;
        }

        &-image {
            object-fit: cover;
            height: 100%;
        }
    }



    &__section {
        padding: 0 1rem;
        margin-bottom: 7.5rem;
        margin-right: auto;
        margin-left: auto;

        @include media_rule($tablet) {
            width: 59rem;
        }

        &-title {
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 1.5237rem;
            letter-spacing: 0.04em;
            text-align: center;
            margin-bottom: 1.25rem;

            @include media_rule($tablet) {
                font-size: 1.5rem;
                line-height: 1.8288rem;
                margin-bottom: 1rem;
            }
        }

        &-text {
            display: flex;
            flex-direction: column;
            gap: .625rem;
            line-height: 1.0669rem;
            letter-spacing: 0.04em;
            text-align: left;

            @include media_rule($tablet) {
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.2188rem;
            }

            & p {
                text-indent: 1.5rem;
            }
        }

        &-location {
            @include media_rule($mobile) {
                display: none;
            }
        }
    }
}