@import "../main/variables.scss";
@import "../main/mixins.scss";

.reviews-decor {
  position: relative;

  .reviews-section__decor-1 {
    position: absolute;
    width: 5.5rem;
    bottom: 0;

    @include media_rule($mobile) {
      width: 9.5rem;
    }
  }
}
.reviews-section {
  position: relative;

  padding-bottom: 5rem;

  @include media_rule($mobile) {
    padding-bottom: 11.25rem;
  }

  &__decor-bottom {
    position: absolute;
    display: none;
    @include media_rule($mobile) {
      bottom: 2rem;
      display: block;
      width: 9.5rem;
      right: 0;
    }
  }
  &__decor-2 {
    position: absolute;
    width: 5.5rem;
    top: 0;
    right: 0;

    @include media_rule($mobile) {
      width: 9.5rem;
    }
  }
  &__item-top-box {
    @include media_rule($mobile) {
      min-width: 19.12rem;
      margin-right: 5rem;
    }
  }
  &__title {
    margin-bottom: 2.5rem;

    @include media_rule($mobile) {
      margin-bottom: 5rem;
    }
  }

  &__decor-3 {
    position: absolute;
    width: 5.5rem;
    bottom: -4.1rem;
    right: -4rem;

    height: 4.87rem;
    @include media_rule($tablet) {
      width: 9.5rem;
      left: -2rem;
    }
  }

  &__decor-desc-4 {
    position: absolute;
    width: 5.5rem;
    top: -0.7rem;
    right: 0;
    display: none;
    @include media_rule($tablet) {
      display: block;
      width: 9.5rem;
      right: -2rem;
    }
  }
  &__decor-4 {
    position: absolute;
    width: 5.5rem;
    top: -0.7rem;
    right: -4rem;
    display: none;
    @include media_rule($tablet) {
      display: block;
      width: 9.5rem;
      right: -2rem;
    }
  }

  &__decor-5 {
    position: absolute;
    width: 5.5rem;
    top: 4.1rem;
    right: -4rem;

    height: 4.87rem;
    @include media_rule($tablet) {
      width: 9.5rem;
      top: -1.5rem;
      left: -2rem;
    }
  }

  &__decor-6 {
    position: absolute;
    width: 5.5rem;
    top: 4.1rem;
    right: -4rem;
    display: none;
    height: 4.87rem;
    @include media_rule($tablet) {
      display: block;
      width: 9.5rem;
      top: -1.5rem;
      right: -2rem;
    }
  }

  &__decor-desc-7 {
    position: absolute;
    width: 5.5rem;
    top: -0.7rem;
    right: 0;
    display: none;
    @include media_rule($tablet) {
      display: block;
      top: 0.5rem;
      width: 9.5rem;

      left: -2rem;
    }
  }
  &__list {
    position: relative;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    margin-bottom: 4rem;

    @include media_rule($tablet) {
      padding-left: 6.87rem;
      padding-right: 6.87rem;
      margin-bottom: 5rem;
    }
  }

  &__item {
    margin-bottom: 3rem;
    position: relative;

    @include media_rule($tablet) {
      display: flex;
      padding: 2rem;
      margin-bottom: 5rem;
    }

    padding: 1rem;
    border-radius: 0.12rem;
    border: 0.06rem solid $grey_green;

    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  &__item-top-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;

    @include media_rule($mobile) {
      margin-bottom: 2rem;
    }
  }

  &__name-box {
    margin-left: 1rem;
    @include media_rule($mobile) {
      margin-left: 2.5rem;
    }

    p {
      font-size: 1.12rem;
      font-weight: 500;
      width: max-content;
      @include media_rule($mobile) {
        margin-bottom: 0.87rem;
        font-size: 1.25rem;
      }
    }
  }

  &__description {
    margin-bottom: 1.5rem;

    word-wrap: break-word;
    word-break: break-all;
    @include media_rule($mobile) {
      font-size: 1.25rem;
    }
  }

  &__date-box {
    margin-bottom: 1.5rem;
    p {
      display: flex;
      align-items: center;

      margin-bottom: 0.25rem;
      @include media_rule($mobile) {
        margin-bottom: 0.5rem;
      }
      &:last-child {
        margin-bottom: 0;
      }
      .date-box-icon-wrapper {
        padding: 8px;
        border: 1px solid $green_light;
        flex-shrink: 0;
        border-radius: 80%;
        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 1rem;
      }

      span {
        color: $main_text;
        font-size: 0.75rem;
        line-height: 0.97rem;
        width: max-content;
        @include media_rule($mobile) {
          font-size: 0.87rem;
        }
      }
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: end;
  }
}

.reviews-section__button-wrapper---desktop {
  display: none;

  @include media_rule($mobile) {
    display: flex;
  }
  @include media_rule($tablet) {
    display: none;
  }
}

.reviews-section__button-wrapper---tablet {
  display: none;

  @include media_rule($tablet) {
    display: flex;
  }
}
.reviews-section__button-wrapper---mobile {
  display: flex;

  @include media_rule($mobile) {
    display: none;
  }
}
.reviews-text-hidden {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
  max-height: 4.56rem;

  transition: max-height 1s ease, overflow 1s;
  @include media_rule($mobile) {
    max-height: 21.87rem;
  }
}

.active-text {
  max-height: 6000px;
  overflow: visible;
  transition: max-height 1s ease, overflow 1s;
}
.reviews-btn-watch-more {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;

  span {
    display: inline-block;
    transition: opacity 0.4s ease;
    color: $orange;
    font-weight: 600;
    font-size: 1rem;
    line-height: 0.04rem;
    margin-right: 1rem;

    rotate: 0deg;

    transition: 1s rotate;
  }

  svg {
    rotate: 0deg;

    transition: 1s rotate;
  }

  @include media_rule($mobile) {
    &:hover {
      span {
        text-shadow: 0.001rem 0px 0px $orange, -0.001rem 0px 0px $orange,
          0px 0.001rem 0px $orange, 0px -0.001rem 0px $orange;
      }
      svg {
        transform: translateY(0.2rem);
        transition: 300ms ease-in-out;
      }
    }
  }
}

.btn-active-watch-more .reviews-btn-watch-more {
  display: inline-block;
  transition: opacity 0.4s ease;
}

@keyframes spin-and-fade {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(0deg);
    opacity: 0;
  }
}

.spin-fade {
  span {
    animation: spin-and-fade 0.4s ease forwards;
    rotate: 180deg;
  }

  svg {
    rotate: 180deg;
    transition: 1s rotate;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  .prev,
  .next {
    svg {
      stroke: $grey_green;
    }
    @include media_rule($mobile) {
      &:hover {
        svg {
          transition: cubic-bezier(0.075, 0.82, 0.165, 1);
          stroke: $main_text;
        }
      }
    }
  }

  a {
    &:hover {
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      color: $main_text;
    }
  }

  .page-numbers {
    font-size: 1.12rem;
    margin-right: 1rem;
    color: $green_light;
    &:last-child {
      margin-right: 0;
    }
    letter-spacing: 0.72px;
  }

  span {
    color: $main_text !important;
    font-size: 1.12rem;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
    letter-spacing: 0.72px;
  }

  margin-bottom: 5rem;
}
