.blog-card {
  display: flex;
  flex-direction: column;

  &__image {
    object-fit: cover;
    height: 100%;


    &-wrapper {
      margin-bottom: 0.5rem;
      width: 24.75rem;
      height: 16.5rem;

      // @include media_rule_max($tablet) {
      //   height: 11.25rem;
      // }

      @include media_rule($mobile) {
        padding: 0 1rem;
      }

      @include media_rule($tablet) {
        padding: 0;
      }

    }
  }

  &__content {
    @include media_rule_max($tablet) {
      padding: 0 1rem;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.04em;
    margin-bottom: 0.5rem;
  }

  &__text {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.0669rem;
    margin-bottom: auto;

    @include media_rule_max($tablet) {
      height: 5.3125rem;
      overflow: hidden;
      margin-bottom: .25rem;
    }
  }

  &__read-more-btn {
    display: flex;
    justify-content: flex-end;
  }
}