@import "../../main/variables.scss";
@import "../../main/mixins.scss";

.blog-card {
  display: flex;
  flex-direction: column;

  @include media_rule($desktop) {
    &:nth-child(4n + 2) {
      grid-column: span 2;
    }

    &:nth-child(4n + 3) {
      grid-column: span 2;
    }
  }

  &__image {
    margin-bottom: 0.5rem;

    @include media_rule_max($mobile) {
      height: 11.25rem;
    }
  }

  &__content {
    @include media_rule_max($mobile) {
      padding: 0 1rem;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.04em;
    margin-bottom: 0.5rem;
  }

  &__text {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.0669rem;
    margin-bottom: auto;

    @include media_rule_max($mobile) {
      height: 5.3125rem;
      overflow: hidden;
      margin-bottom: .25rem;
    }
  }

  &__read-more-btn {
    display: flex;
    justify-content: flex-end;
  }
}

// .blog-card-mobile {
//   display: none;
//   flex-direction: column;

//   @include media_rule_max($mobile) {
//     display: flex;
//   }

//   &__image {
//     margin-bottom: 0.5rem;
//   }


//   &__title {
//     font-weight: 600;
//     font-size: 1rem;
//     letter-spacing: 0.04em;
//     margin-bottom: 0.5rem;
//   }

//   &__text {
//     font-weight: 400;
//     font-size: 0.875rem;
//     line-height: 1.3;
//     margin-bottom: auto;
//   }

//   &__read-more-btn {
//     display: flex;
//     justify-content: flex-end;
//   }
// }