// @import '../main/variables.scss';
.section-gallery {
  padding-bottom: 7.5rem;
  @media screen and (min-width: $mobile) {
    padding-bottom: 11.25rem;
  }
}
.masonry {
  display: none;
  @media screen and (min-width: $mobile) {
    display: block;
    width: 100%;
  }
}

.masonry-item {
  @media screen and (min-width: $mobile) {
    width: 50%;

    height: 32.5rem;
  }

  @media screen and (min-width: 1199px) {
    // &:hover {
    //   img {
    //     transform: scale(1.1);
    //     position: relative;
    //     z-index: 999;
    //     object-position: center;
    //     // transition: 1s object-fit;
    //     // object-fit: scale-down;
    //     // w
    //   }
    // }
  }
}
.masonry-item-size2 {
  @media screen and (min-width: $mobile) {
    width: 25%;
  }
}

.masonry-item-height {
  @media screen and (min-width: $mobile) {
    height: 18rem;
  }
}

.masonry-item-height2 {
  height: 37rem;
}

.masonry-item img {
  @media screen and (min-width: $mobile) {
    width: 100%;
    height: 100% !important;
    display: block;
    object-fit: cover;

    transition: transform 0.3s ease;
  }
}

// mobile
.masonry-mobile {
  width: 100%;
  display: block;
  @media screen and (min-width: $mobile) {
    display: none;
  }
}

.masonry-mobile-item {
  width: 50%;
  height: 13rem;
}

.masonry-mobile-item img {
  object-fit: cover;
  height: 100% !important;
}

.masonry-mobile-item---height {
  height: 16rem;
}

.masonry-mobile-item---long {
  height: 22rem;
}

.masonry-mobile-item-width2 {
  width: 75% !important;
}

.masonry-mobile-item-height2 {
  height: 6rem;
}

.sizer {
  width: 25%;
}

.custom-video-player {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
