@import "../../main/variables.scss";
@import "../../main/mixins.scss";

.location-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__subtitle {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 32px;

    @include media_rule($desktop) {
      font-size: 1.25rem;
      letter-spacing: 0.06em;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
    }
  }

  &__address {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 32px;

    @include media_rule($desktop) {
      font-size: 1rem;
      letter-spacing: 0.04rem;
      margin-bottom: 3.75rem;
    }
  }

  &__map {
    width: 600px;
    height: 160px;
  }
}