.proposition-section {
  position: relative;
  width: 100%;
  height: 50rem;
  overflow: hidden;
  margin-bottom: 11.25rem;

  & img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    width: initial;
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 0.125rem;
    width: 57.5rem;
    background-color: $white;
    padding: 2rem 3.75rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  &__subtitle-wrapper {
    text-align: center;
    max-width: 31.25rem;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.04em;

    &-icon {
      margin-bottom: 0.5rem;
      width: 2.3125rem;
      height: 1.5625rem;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.3;
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
