.teremok-section {
  position: relative;
  padding-bottom: 7.5rem;
  width: 100%;

  @media screen and (min-width: $mobile) {
    padding-bottom: 11.25rem;
  }

  &__decor-left-popsition-b {
    position: absolute;
    top: -7rem;
    left: 0;
    width: 6.12rem;
    height: 6.31rem;

    @media screen and (min-width: $mobile) {
      top: -12rem;
      left: -2rem;
      width: 9.31rem;
      height: 9.62rem;
    }
  }

  .teremok-section__decor-popsition-b {
    position: absolute;
    display: none;

    @include media_rule($mobile) {
      display: block;
      width: 9.5rem;
      left: 3rem;
      bottom: 6rem;
    }
  }

  &__title {
    margin-bottom: 2.5rem;
    position: relative;

    @media screen and (min-width: $mobile) {
      padding-top: 2.56rem;
      margin-bottom: 5rem;
    }

    .teremok-section__decor-1 {
      position: absolute;
      width: 5.5rem;
      bottom: -4.1rem;
      right: -4rem;

      height: 4.87rem;

      @include media_rule($mobile) {
        width: 9.5rem;
        right: -17.5rem;
        z-index: -1;
      }
    }
  }

  &__list {
    padding-left: 1rem;
    padding-right: 1rem;

    @media screen and (min-width: $mobile) {
      width: 28.12rem;
      padding-left: 0;
      padding-right: 0;
    }

    @media screen and (min-width: $tablet) {
      width: 31.12rem;
    }
  }

  &__item {
    position: relative;
    margin-bottom: 2.5rem;

    margin-bottom: 3.75rem;

    &:last-child {
      margin-bottom: 0;
    }

    .teremok-section__item-decor-1 {
      position: absolute;
      width: 12.37rem;
      height: 6rem;
      bottom: 4rem;
      left: -6rem;

      @media screen and (min-width: $mobile) {
        width: 12.37rem;
        height: 6rem;
        bottom: 0;
        left: -13rem;
      }
    }

    img {
      margin: 0 auto;
      width: 1.5rem;
      height: auto;
      margin-bottom: 0.5rem;
    }

    p {
      text-align: center;
    }
  }

  &__Image {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

    @media screen and (min-width: $mobile) {
      margin-top: 0;
      margin-bottom: 0;
    }

    img {
      height: 12.5rem;

      @media screen and (min-width: $mobile) {
        height: 35.12rem;
      }

      @media screen and (min-width: $tablet) {
        width: 25.14rem;
      }

      object-fit: cover;
    }
  }

  &__owner-block {
    margin-top: 2.5rem;

    @media screen and (max-width: $mobile) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    @media screen and (min-width: $mobile) {
      margin-top: 7.12rem;
    }

    p {
      font-family: $font_cursive;
      font-size: 1.25rem;
      text-align: center;
      letter-spacing: 0.05rem;

      @media screen and (min-width: $mobile) {
        font-size: 1.5rem;
        letter-spacing: 0.059375rem;

        width: 29.93rem;
      }
    }
  }

  &__owner-block-img-box {
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 10.2rem;
    margin-bottom: 1.25rem;

    @media screen and (min-width: $mobile) {
      height: 15rem;
    }

    svg {
      width: 10.2rem;
      height: 10.2rem;

      @media screen and (min-width: $mobile) {
        width: 15rem;
        height: 15rem;
      }

      position: absolute;
    }

    img {
      position: absolute;
      object-fit: cover;
      width: 8.2rem;
      height: 8.2rem;

      @media screen and (min-width: $mobile) {
        width: 12.5rem;
        height: 12.5rem;
      }

      border-radius: 100%;
    }
  }

  &__box {
    @media screen and (min-width: $mobile) {
      width: calc(100% / 2.2);
    }

    @media screen and (min-width: $tablet) {
      width: max-content;
    }
  }

  &__box---center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.teremok-section__desktop-wrapper {
  display: none;

  @media screen and (min-width: $mobile) {
    display: flex;
  }
}

.teremok-section__mobile-wrapper {
  display: block;

  @media screen and (min-width: $mobile) {
    display: none;
  }
}

.teremok-section__Image-mobile {
  position: relative;
  height: 12.5rem;
  width: 100%;
  overflow: hidden;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}