@import "./variables.scss";

.find_more_btn {
    display: flex;
    align-items: center;
    border-radius: .5rem;
    padding: .9375rem 0rem;
    height: 3.125rem;

    &__content {
        display: flex;
        align-items: center;
        gap: .625rem;
        font-weight: 600;
        font-size: 1rem;
        letter-spacing: 0.04em;
        color: $orange;

        &::after {
            display: inline-flex;
            align-self: center;
            content: url('../../assets/images/long-arrow.svg');
            stroke-width: 1.80px;
            stroke: $orange;
            width: 3.1875rem;
            height: 1.0625rem;
        }
    }
}

.read_more_btn {
    display: flex;
    align-items: center;
    border-radius: .5rem;
    padding: .9375rem 0rem;
    height: 3.125rem;

    &__content {
        display: flex;
        align-items: center;
        gap: .625rem;
        font-weight: 400;
        font-size: .875rem;
        line-height: 1.3;
        letter-spacing: 0.04em;
        color: $orange;

        &::after {
            display: inline-flex;
            align-self: center;
            content: url('../../assets/images/short-arrow.svg');
            stroke-width: 1.80px;
            stroke: $orange;
            width: 3.1875rem;
            height: 1.0625rem;
        }
    }
}

.booking_btn {
    border: .0625rem solid $main_text;
    border-radius: .25rem;
    padding: .5rem 3.5rem;
    width: 20.625rem;
    height: 3rem;
}