.footer {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  color: $main_text;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;

    @include media_rule($mobile) {
      flex-direction: row;
    }
  }

  &__menu {
    display: none;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-end;
    row-gap: 1.5rem;
    column-gap: 2.5rem;
    width: 17.75rem;

    & .sub-menu {
      display: none;
    }

    & a:hover {
      color: $orange;
    }

    @include media_rule($mobile) {
      display: flex;
    }
  }

  & .footer__logo {
    width: 5.25rem;
    height: 3.75rem;

    @include media_rule($mobile) {
      width: 10.31rem;
      height: 7.5rem;
    }

    &-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      margin-bottom: 2rem;
      width: 100%;

      @include media_rule($tablet) {
        margin-bottom: 0;
        gap: 1.875rem;
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media_rule($tablet) {
      gap: 1.25rem;
      align-items: flex-start;
    }
  }

  &__email {
    order: 3;
    font-weight: 400;
    margin-bottom: 1.25rem;

    &>.footer__email-link {
      font-family: $primary_font;
      font-size: 0.875rem;

      @include media_rule($tablet) {
        font-size: 1rem;
      }
    }

    &-link:hover {
      color: $orange;
    }

    @include media_rule($tablet) {
      margin-bottom: 0;
      font-size: 1rem;
    }
  }

  &__phone {
    order: 5;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-weight: 400;

    @include media_rule($mobile) {
      width: 100%;
      margin-bottom: 1.25rem;
      text-align: start;
    }
  }

  &__socials {
    display: flex;
    gap: 1rem;
    order: 1;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;

    &-svg {
      stroke: $main_text;
      width: 1.75rem;
      height: 1.8125rem;

      &:hover {
        stroke: $orange;
      }
    }

    &-viber {
      stroke: transparent;

      &:hover {
        stroke: transparent;
        fill: $orange;
      }
    }

    & img:hover {
      fill: $orange;
    }

    @include media_rule($mobile) {
      order: 7;
      margin-bottom: 0;
      justify-content: flex-start;
    }

    &-item {
      width: 1.75rem;
      height: 1.75rem;
    }

    &-icon {
      width: 1.75rem;
      height: 1.75rem;
      stroke: black;
    }
  }

  & a {
    font-weight: 400;
    color: $main_text;
    font-family: $font_inter;
  }

  &__policy {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 1rem;
    gap: 2rem;
    font-family: $secondary_font;

    @include media_rule($tablet) {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }

    &-link {
      text-align: center;
    }

    &-item {
      font-size: 0.625rem;
      font-weight: 400;
      font-family: $secondary_font;

      @include media_rule($tablet) {
        font-size: 0.75rem;
      }

      &_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
      }

      &_policy {
        text-align: center;
        text-decoration: underline;
      }

      &_date {
        @include media_rule($tablet) {
          justify-self: center;
        }
      }

      &_country {
        display: flex;
        align-items: center;
        justify-self: end;
        gap: 1rem;
      }

      & a {
        font-family: Montserrat;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 0.975rem;
        text-decoration: underline;

        @include media_rule($tablet) {
          font-size: 0.875rem;
        }
      }
    }
  }

  & .current_page_item a {
    color: $orange;
  }
}

.booking_btn-footer {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  border: 0.0625rem solid $main_text;
  border-radius: 0.25rem;
  width: 21.4375rem;
  height: 3rem;

  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.06em;
  color: $main_text;

  @include media_rule($mobile) {
    font-size: 1rem;
    width: 20.625rem;
    height: 3rem;
  }
}

/* Кнопка в гору */

.top-to-scroll-wrapper {
  display: none;

  button {
    position: fixed;
    z-index: 9;
    width: 3rem;
    height: 3rem;

    bottom: 5%;

    @include media_rule_max($mobile) {
      bottom: 10%;
    }

    right: 5%;
    background-color: $white;
    border-radius: 80%;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      svg {
        transform: translateY(-0.4rem);
        transition: 300ms ease-in-out;
      }
    }

    svg {
      width: 1.62rem;
      height: 1.25rem;
    }
  }
}

.top-to-scroll-wrapper-active {
  display: block;
}