// containers
.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.section {
  padding-bottom: 11.25rem;

  @media screen and (max-width: $mobile) {
    padding-bottom: 7.5rem;
  }
}

.container {
  width: 76.25rem;
  margin: 0 auto;
  padding: 0 1rem;

  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}

.inner-container {
  width: 52.25rem;

  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}

.visually-hidden {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.decor-trees1 {
  position: absolute;
  width: 12.375rem;
  height: 3.625rem;

  @include media_rule_max($mobile) {
    width: 8.0625rem;
    height: 2.4rem;
  }
}

.decor-trees2 {
  position: absolute;
  width: 12.375rem;
  height: 5.5rem;

  @include media_rule_max($mobile) {
    width: 8.0625rem;
    height: 4.875rem;
  }
}

.decor-mount {
}

.decor-branch {
  position: absolute;
  width: 9.375rem;
  height: 12.8125rem;

  @include media_rule_max($mobile) {
    width: 8.0625rem;
    height: 6.3125rem;
  }
}

.plugin_submit-button {
  input {
    border-radius: 0.375rem;
    padding: 0.625rem 3rem;
    width: 21.4375rem;
    height: 3rem;
    background: $yellow;

    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.04em;
  }
}
