@import "./variables.scss";
@import "./mixins.scss";

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  color: $white;
  font-weight: 400;
  font-size: 1rem;
  height: 5rem;
  transition: all 500ms ease-in-out;


  &__active {
    position: fixed;
    background-color: black;
    opacity: 0.5;
  }


  @include media_rule_max($mobile) {
    display: none;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_list {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

.header-mobile {
  margin-top: 50px;


  position: absolute;
  padding: .625rem 1rem;
  display: flex;
  justify-content: space-between;
}