@import "./variables.scss";

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  color: $white;
  font-weight: 400;
  font-size: 1rem;
  height: 5rem;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_list {
  display: flex;
  align-items: center;
  gap: 2rem;
}
