.learnmore_button {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 1rem 0;
  color: $orange;
  font-weight: 600;
  letter-spacing: 0.04em;
  cursor: pointer;
  &--icon {
    position: absolute;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    left: 105%;
    width: 3.125rem;
    height: 1.125rem;
    stroke: $orange;
    transition: $transition-function;
  }
  &:hover {
    & button,
    & a {
      text-shadow: 0.001rem 0px 0px $orange, -0.001rem 0px 0px $orange,
        0px 0.001rem 0px $orange, 0px -0.001rem 0px $orange;
    }
    .learnmore_button--icon {
      left: 120%;
    }
  }
}
