.location-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  & .decor-trees2 {
    top: 2.8125rem;
    left: 1.25rem;
    width: 13.5625rem;
    height: 8.1875rem;

    @include media_rule_max($mobile) {
      width: 8.0625rem;
      height: 2.4rem;
      top: 8.8125rem;
      left: -2.75rem;
    }
  }

  &__subtitle {
    font-size: .875rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    text-align: center;

    @include media_rule($tablet) {
      font-size: 1.25rem;
      letter-spacing: 0.06em;
      margin-bottom: 1.5rem;
    }
  }

  &__address {
    font-size: .875rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;

    @include media_rule($tablet) {
      font-size: 1rem;
      letter-spacing: 0.04rem;
    }
  }

  &__map {
    width: 100%;
    height: 10rem;
    overflow: hidden;
    position: relative;

    @include media_rule($mobile) {
      height: 23.75rem
    }

    & a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    & img {
      width: auto;
      height: 100%;

      @include media_rule_max($mobile) {
        height: 150%
      }
    }
  }
}