.secondary-hero-section {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-bottom: 5rem;
  @include media_rule($mobile) {
    padding-bottom: 10rem;
  }

  &__wrapper-title {
    position: absolute;
    z-index: 5;
    width: 100%;
    max-width: 83rem;
    display: block;
    overflow: hidden;
    opacity: 1;
  }

  &__img-wrapper {
    position: relative;
    width: 100%;
    height: 32rem;

    overflow: hidden;
    @include media_rule($mobile) {
      height: 42.5rem;
    }
  }
  &__title {
    z-index: 5;
    font-family: $font_inter;
    font-size: 2.87rem;
    font-weight: 600;
    color: $white;
    text-transform: uppercase;
    text-align: center;

    @include media_rule($mobile) {
      font-size: 8rem;
    }

    animation: animationTitleTransform 2s ease-in-out 1;
  }

  &__img {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;

    height: 100%;
    object-fit: cover;
    transform-origin: center;
    animation: scaleImageAnimate 3s ease-in-out 1;
  }
}

@keyframes animationScaleImage {
  0% {
    transform: scale(1.4); /* Застосовуємо transform замість scale */
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes animationTitleTransform {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}
