@import "../main/variables.scss";

.section_title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 2.625rem;
  &--text {
    color: $orange;
    font-family: $font_inter;
    font-weight: 200;
    font-size: 2.5rem;
    line-height: 1.2;
    text-transform: uppercase;
  }
  &--icon_wrap {
    display: flex;
    align-items: flex-end;
    gap: 0.375rem;
  }
  &--icon {
    stroke: $orange;
    &.small {
      width: 1.4375rem;
      height: 2.5625rem;
    }
    &.big {
      width: 2.0625rem;
      height: 3.625rem;
    }
  }
  @media screen and (max-width: $tablet) {
  }
  @media screen and (max-width: $mobile) {
  }
}
