*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 1.111vw;

  @media screen and (max-width: $tablet) {
    font-size: 1.613vw;
  }

  @media screen and (max-width: $mobile) {
    font-size: 4.267vw;
  }

  /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%;
  /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4;
  /* 3. Use a more readable tab size (opinionated). */
  tab-size: 4;
  /* 3 */

  scroll-behavior: smooth;
}

html,
body {
  scroll-behavior: auto;

  /*  overflow-x: hidden; навіщо це давати і на html ? */
}

html.modal__opened {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}

body {
  margin: 0;
  background: url("../../assets/images/bg.jpg") repeat;

  &.modal-open {
    overflow: hidden;
    max-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }

  &::-webkit-scrollbar {
    width: 0.875rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grey_green;
    border-radius: 0.25rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $green_light;
  }
}

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

abbr[title] {
  text-decoration: underline dotted;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 0.0625rem dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -0.125rem;
  /* 2 */
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

summary {
  display: list-item;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: $main_text;
  font-family: $primary_font;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  line-height: 1;
  margin: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

p {
  font-size: 0.875rem;
  line-height: 1.3;

  @media screen and (min-width: $mobile) {
    font-size: 1rem;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.modal-slider {
  margin: 0;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;

  .swiper-wrapper {
    align-items: center;
  }

  & form {
    min-height: 100dvh;
    position: relative;

    & .close-button {
      position: absolute;
      top: .625rem;
      right: .625rem;
      color: white;
      z-index: 10;
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 300ms linear;

      &:hover {
        transform: rotate(90deg);
      }
    }
  }

  & .modal-slider-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;

  }

  & .inner_swiper {
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;


    & .inner_swiper-slide {
      width: 9.375rem;
      height: 9.375rem;
      border: .125rem solid transparent;
      border-radius: .3125rem;
      overflow: hidden;
      transition: all 300ms linear;

      &:hover {
        border: .1875rem solid $white;
      }

      & img {
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
      }

    }
  }


  & .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      min-height: 100%;
      width: auto;
    }
  }
}