$main_text: #3c4839;
$disabled_text: #8f978d;
$white: #fff;
$orange: #e67739;
$yellow: #fcd85b;
$green: #43ca69;
$green_light: #689762;
$grey_green: #99b7a2;
$dark_green: #3a4f37;

$hovered_btn_yellow: #ffcd23;
$pressed_btn_yellow: #ffc600;

$primary_font: "Montserrat", sans-serif;
$secondary_font: "Montserrat Alternates", sans-serif;
$font_inter: "Inter", sans-serif;
$font_cursive: "Marck Script", cursive;

$mobile: 575.98px; //320-575
$tablet: 991.98px; //576-991
$desktop: 1440px; //992-1440

$big-border-radius: 0.5rem;
$medium-border-radius: 0.25rem;
$small-border-radius: 0.125rem;

$transition-function: 300ms ease-in-out;
$transition-parallax: 7000ms ease-in-out;
$transition-parallax-1: 1000ms ease-in-out;
$transition-parallax-2: 2000ms ease-in-out;
$transition-parallax-3: 3000ms ease-in-out;