@import "./variables.scss";

.footer {
    color: pink;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color: $main_text;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2.5rem;
    }



    &__menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        row-gap: 1.5rem;
        column-gap: 2.5rem;
        width: 17.75rem;


    }

    & .footer__logo {
        width: 10.31rem;
        height: 7.5rem;

        &-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.875rem;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    &__socials {
        display: flex;
        gap: 1rem;

        &-item {
            width: 1.75rem;
            height: 1.75rem;
        }

        &-icon {
            width: 1.75rem;
            height: 1.75rem;
            stroke: black;
        }
    }

    & a {
        font-weight: 400;
        font-size: 1rem;
        color: $main_text;
    }

    &__policy {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 1.25rem;

        &-item {
            &_date {
                justify-self: center;
            }

            &_country {
                justify-self: end;
            }
        }
    }
}

// footer .animation-box {
//     width: 164.96px;
//     height: 120px;

//     // & .logo_svg {
//     //     width: 165px;
//     //     height: 120px;
//     // }

// }


.booking_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: .0625rem solid $main_text;
    border-radius: .25rem;
    padding: .5rem 3.5rem;
    // width: 20.625rem;
    height: 3rem;

    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.06em;
    color: $main_text;
}