// containers
.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

//background
.body__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

.section {
  padding-bottom: 11.25rem;
  @media screen and (max-width: $tablet) {
  }
  @media screen and (max-width: $mobile) {
  }
}

.container {
  width: 76.25rem;
  margin: 0 auto;
  padding: 0 1rem;
  @media screen and (max-width: $tablet) {
    width: 100%;
  }
  @media screen and (max-width: $mobile) {
  }
}

.inner-container {
  width: 52.25rem;
  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}

//buttons
._button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  width: fit-content;
  min-width: 18.75rem;
  min-height: 2.75rem;
  margin: 0 auto;
  font-size: 1.25rem;
  font-weight: 500;
  background-color: transparent;
  border-radius: $big-border-radius;
  transition: all $transition-function;

  @media screen and (max-width: $tablet) {
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
  &:hover,
  &:focus {
  }
}

.primary_button {
  color: $orange;
  border: 0.0625rem solid $orange;
}

.secondary_button {
  border: 0.0625rem solid $main_text;
  color: $main_text;
}

.visually-hidden {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
