*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%;
  /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4;
  /* 3. Use a more readable tab size (opinionated). */
  tab-size: 4;
  /* 3 */
}

html,
body {
  scroll-behavior: auto;
  overflow-x: hidden;
}

html.modal__opened {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}

body {
  margin: 0;
  background-color: #fff;

  &.modal-open {
    overflow: hidden;
    max-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }

  &::-webkit-scrollbar {
    width: 14px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(80, 80, 80);
  }
}

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

abbr[title] {
  text-decoration: underline dotted;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

summary {
  display: list-item;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: $main_text;
  font-family: $primary_font;
  font-size: 16px;
  letter-spacing: 0.04em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1;
  /* 1 */
  margin: 0;
  /* 2 */
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

input,
button,
textarea,
select {
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

.wrapper {
  overflow: hidden;
}
