$main_text: #3c4839;
$white: #fff;
$orange: #e67739;
$yellow: #fcd85b;
$green: #43ca69;
$green_light: #689762;
$grey_green: #99b7a2;

$primary_font: "Montserrat", sans-serif;
$secondary_font: "Montserrat Alternates", sans-serif;
$font_inter: "Inter", sans-serif;

$mobile: 575.98px; //320-575
$tablet: 991.98px; //576-991
$desktop: 1440px; //992-1440

$big-border-radius: 0.5rem;
$medium-border-radius: 0.25rem;
$small-border-radius: 0.125rem;

$transition-function: 400ms ease-in-out;
