$main_text: #3c4839;
$white: #fff;
$orange: #e67739;
$yellow: #fcd85b;
$green: #43ca69;

$primary_font: "Montserrat", sans-serif;
$secondary_font: "Montserrat Alternates", sans-serif;
$font_inter: "Inter", sans-serif;

$mobile: 575.98px; //320-575
$tablet2: 991.98px; //576-991
$desktop: 1440px; //992-1440

$bid-border-radius: 8px;
$small-border-radius: 2px;

$transition-function: 500ms cubic-bezier(0.4, 0, 0.2, 1);
