.section-desc-services {
  position: relative;
  padding-bottom: 7.5rem;

  @include media_rule($mobile) {
    padding-bottom: 10rem;
  }

  &__decor {
    position: absolute;
    width: 5.5rem;
    bottom: 2rem;
    right: 0;

    @include media_rule($mobile) {
      width: 9.5rem;
      top: 0;
    }
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__icon {
    width: 3.12rem;
  }

  &__title {
    font-size: 2.12rem;
    font-weight: 600;
    line-height: 2.89rem;
    margin-bottom: 2.5rem;
  }

  &__desc {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2.5rem;
  }

  &__photo-box {
    margin-bottom: 1.6rem;
  }

  &__title---margin-hidden {
    margin: 0;
  }

  &__slogan {
    margin-top: 0.75rem;
    font-family: $font_cursive;
    font-size: 1.12rem;
    text-align: center;
    letter-spacing: 0.04rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    max-width: 28.85rem;
  }
}

.section-services-page {
  padding-bottom: 7.5rem;
  position: relative;

  & .teremok-section__box {
    & .teremok-section__title {
      padding-top: 0;
    }
  }

  @include media_rule($mobile) {
    padding-bottom: 11.25rem;
  }
  &__list {
    @include media_rule($tablet) {
      width: 39.12rem;
    }
  }

  &__decor-left-popsition-b {
    position: absolute;
    width: 5.5rem;
    bottom: 2rem;
    left: 0;

    @include media_rule($mobile) {
      display: none;
    }
  }

  &__decor-left-popsition-b-desc {
    display: none;

    @include media_rule($mobile) {
      position: absolute;
      display: block;
      right: 0;
      height: 9.75rem !important;
      width: 9.5rem !important;
      bottom: 0;
    }
  }

  &__item {
    position: relative;

    .section-services-page__item-decor-1 {
      position: absolute;
      display: block;
      width: 9.5rem !important;
      height: 3.5rem !important;
      left: -7rem;
      bottom: 0;
      @include media_rule($mobile) {
        display: block;
        top: 0;
        z-index: -1;
        width: 13.75rem !important;
        height: 3.5rem !important;
        right: -53rem;
      }
    }

    .section-services-page__item-decor-2 {
      position: absolute;
      display: block;
      width: 6.87rem !important;
      height: 5.71rem !important;
      left: -7rem;
      top: 0;

      @include media_rule($mobile) {
        display: block;
        top: 0;
        left: -11rem;
        z-index: -1;
        width: 9.5rem !important;
        height: 5.5rem !important;
      }
    }
    .section-services-page__item-decor-3 {
      position: absolute;

      width: 9.5rem !important;
      height: 3.8rem !important;
      left: -6rem;
      top: 0;

      @include media_rule($mobile) {
        bottom: -3rem;
        right: -8rem;
        z-index: -1;
        width: 9.5rem !important;
        height: 5.5rem !important;
      }
    }

    .section-services-page__item-decor-1-position-t {
      position: absolute;
      display: block;
      width: 9.5rem !important;
      height: 3.8rem !important;
      right: -6rem;
      top: -4rem;

      @include media_rule($mobile) {
        display: none;
      }
    }
    .section-services-page__item-decor-1-position-b {
      position: absolute;
      display: block;
      width: 9.5rem !important;
      height: 3.8rem !important;
      left: -6rem;
      bottom: -4rem;

      @include media_rule($mobile) {
        display: none;
      }
    }
    img {
      width: 2.25rem;
      @include media_rule($mobile) {
        width: 2.75rem !important;
      }
    }
    h3 {
      margin: 0 auto;
      text-align: center;
      font-weight: 500;
      font-size: 1.25rem;
      margin-bottom: 1rem;
      letter-spacing: 0.07rem;
      @include media_rule($mobile) {
        font-size: 1.62rem;
        margin-bottom: 1.5rem;
        max-width: 18.75rem;
      }
    }

    strong {
      font-size: 1.12rem;

      font-weight: 500;

      letter-spacing: 0.0675rem;
    }

    @include media_rule($mobile) {
      margin-bottom: 3.45rem;

      :last-child {
        margin-bottom: 0;
      }
    }

    @include media_rule($tablet) {
      margin-bottom: 5rem;

      :last-child {
        margin-bottom: 0;
      }
    }
  }

  &__image {
    /*     @include media_rule($mobile) {
      img {
        height: 27.62rem;
      }
    } */
    @include media_rule($mobile) {
      img {
        height: 25.62rem;
      }
    }
  }

  @include media_rule($tablet) {
    img {
      width: 19.14rem;
    }
  }

  &__learn-more {
    margin-top: 1rem;
    @include media_rule($mobile) {
      margin-top: 1.5rem;
    }

    display: flex;
    justify-content: center;
  }
}

.free-services-section {
  position: relative;

  padding-bottom: 7.5rem;

  @include media_rule($mobile) {
    padding-bottom: 11.25rem;
  }
  &__item-decor-1-position-t {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 8.87rem;
    height: 4rem;
    @include media_rule($mobile) {
      top: 6rem;
      width: 12.37rem;
      height: 7.43rem;
    }
  }

  &__item-decor-1-position-b {
    position: absolute;
    bottom: 9rem;
    right: 0;
    width: 8.87rem;
    height: 4rem;
    @include media_rule($mobile) {
      width: 12.37rem;
      height: 7.43rem;
    }
  }

  &__title-wrapper {
    margin-bottom: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    @include media_rule($mobile) {
      margin-bottom: 4rem;
    }
  }
  &__wrapper {
    display: block;
    margin: 0 auto;
    max-width: 55rem;
  }
}

.services-m-b-0 {
  margin-bottom: 0;
}
