.section-desc-services {
  padding-bottom: 7.5rem;

  @include media_rule($mobile) {
    padding-bottom: 10rem;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__icon {
    width: 3.12rem;
  }

  &__title {
    font-size: 2.12rem;
    font-weight: 600;
    line-height: 2.89rem;
    margin-bottom: 2.5rem;
  }

  &__desc {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2.5rem;
  }

  &__photo-box {
    margin-bottom: 1.6rem;
  }

  &__title---margin-hidden {
    margin: 0;
  }

  &__slogan {
    margin-top: 0.75rem;
    font-family: $font_cursive;
    font-size: 1.12rem;
    text-align: center;
    letter-spacing: 0.04rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    max-width: 28.85rem;
  }
}

.section-services-page {
  padding-bottom: 7.5rem;

  @include media_rule($mobile) {
    padding-bottom: 10rem;
  }
  &__list {
    @include media_rule($tablet) {
      width: 39.12rem;
    }
  }

  &__item {
    img {
      width: 2.25rem;
      @include media_rule($mobile) {
        width: 2.68rem !important;
      }
    }
    h3 {
      margin: 0 auto;
      text-align: center;
      font-weight: 500;
      font-size: 1.25rem;
      margin-bottom: 1rem;
      letter-spacing: 0.07rem;
      @include media_rule($mobile) {
        margin-bottom: 1.5rem;
        max-width: 18.75rem;
      }
    }

    strong {
      font-size: 1.12rem;

      font-weight: 500;

      letter-spacing: 0.0675rem;
    }

    @include media_rule($mobile) {
      margin-bottom: 5rem;

      :last-child {
        margin-bottom: 0;
      }
    }
  }

  &__image {
    @include media_rule($mobile) {
      img {
        height: 24.43rem;
      }
    }
  }

  @include media_rule($tablet) {
    img {
      width: 19.14rem;
    }
  }

  &__learn-more {
    margin-top: 1rem;
    @include media_rule($mobile) {
      margin-top: 1.5rem;
    }

    display: flex;
    justify-content: center;
  }
}

.free-services-section {
  padding-bottom: 7.5rem;

  @include media_rule($mobile) {
    padding-bottom: 10rem;
  }

  &__title-wrapper {
    margin-bottom: 2.5rem;

    @include media_rule($mobile) {
      margin-bottom: 4rem;
    }
  }
  &__wrapper {
    display: block;
    margin: 0 auto;
    max-width: 55rem;
  }
}

.service-section__Image-mobile---margin-btn-0 {
  margin-bottom: 0;
}
