.section-services-page-speccial {
  padding-bottom: 7.5rem;

  @include media_rule($mobile) {
    padding-bottom: 10rem;
  }

  .teremok-section__box {
    img {
      height: 36.43rem;
      object-fit: cover;
    }
  }
  &__title {
    margin-bottom: 2.5rem;

    @include media_rule($tablet) {
      margin-bottom: 4rem;
    }
  }
  & .teremok-section__desktop-wrapper {
    width: 100%;
    justify-content: space-between;
    .teremok-section__box {
      width: 300px;

      img {
        width: 100%;
      }
    }
  }

  .section-services-page__list {
    max-width: 45.5rem;

    margin: 0 auto;
  }
  &__item {
    text-align: center;
    position: relative;

    .item-decor {
      position: absolute;
      right: -12rem;
      top: 0;
      width: 12.37rem;
      height: 3.62rem;
    }

    .item-decor2 {
      position: absolute;
      left: -12rem;
      top: -4rem;
      width: 6.37rem;
      height: 7.43rem;
    }
    img {
      width: 2.25rem;
      margin: 0 auto;
      margin-bottom: 0.5rem;
    }
    @include media_rule($tablet) {
      margin-bottom: 4rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  /* 
    &__wrapper-desktop{

        @include media_rule($tablet) {
        display: flex;
    }
  &__img-box-left {
  }
  &__content {
  }
  &__img-box-right {
  }
} */
}

.special-offert-mobile {
  & .special-offer-desc-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;

    text-align: center;
  }
}
.mobile-special-img-wrapper {
  display: flex;
  position: relative;
  height: 8.75rem;

  margin-bottom: 2.5rem;
  &__silide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.anim-slide-wrapper-primary {
  &:first-child {
    transform: translateX(80%);
    z-index: 10;

    transition: transform $transition-parallax-1;
  }
}

.anim-slide-wrapper-secondary {
  &:last-child {
    transform: translateX(-80%);
    z-index: 10;

    transition: transform $transition-parallax-1;
  }
}

.slide-width-animate {
  &:first-child {
    transform: translateX(20%);
    z-index: 10;

    transition: transform $transition-parallax-1;
  }
}

.slide-width-animate-secondary {
  &:last-child {
    transform: translateX(-20%);
    z-index: 10;

    transition: transform $transition-parallax-1;
  }
}

.special-offer-desc-wrapper {
  margin-bottom: 2.5rem;
  &:last-child {
    margin-bottom: 0;
  }
}
