.section-services-page-speccial {
  padding-bottom: 7.5rem;

  @include media_rule($mobile) {
    padding-bottom: 11.25rem;
  }

  & .section_title {
    @include media_rule($mobile) {
      padding-right: 6.43rem;
      padding-left: 6.43rem;
    }
  }

  .teremok-section__box {
    img {
      height: 36.43rem;
      object-fit: cover;
    }
  }
  &__title {
    margin-bottom: 2.5rem;

    @include media_rule($tablet) {
      margin-bottom: 4rem;
    }
  }
  & .teremok-section__desktop-wrapper {
    width: 100%;
    justify-content: space-between;
    .teremok-section__box {
      width: 300px;

      img {
        width: 100%;
      }
    }
  }

  .section-services-page__list {
    max-width: 45.5rem;

    margin: 0 auto;
  }
  &__item {
    text-align: center;
    position: relative;
    p {
      font-size: 1rem;
      font-weight: 500;
      @include media_rule($mobile) {
        font-size: 1.12rem;
      }
    }

    .item-decor {
      position: absolute;
      right: -12rem;
      top: 0;
      width: 12.37rem;
      height: 3.62rem;
    }

    .item-decor2 {
      position: absolute;
      left: -12rem;
      top: -4rem;
      width: 6.37rem;
      height: 7.43rem;
    }
    img {
      width: 2.25rem;
      margin: 0 auto;
      margin-bottom: 0.5rem;
    }
    @include media_rule($mobile) {
      margin-bottom: 2.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include media_rule($tablet) {
      margin-bottom: 4rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.special-offert-mobile {
  & .special-offer-desc-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;

    text-align: center;
  }
}
.mobile-special-img-wrapper {
  position: relative;
  width: 100%;
  height: 8.75rem;

  overflow: hidden;

  margin-bottom: 2.5rem;
  &__silide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.anim-slide-wrapper-primary {
  &:first-child {
    z-index: 2;
    clip-path: polygon(0 0, 20% 0, 20% 100%, 0% 100%);
    transition: clip-path $transition-parallax-1;
  }

  &:last-child {
    z-index: 1;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 20% 100%);

    transition: clip-path $transition-parallax-1;
  }
}

.anim-slide-wrapper-secondary {
  &:first-child {
    z-index: 1;
    clip-path: polygon(80% 0, 100% 0, 100% 100%, 80% 100%);
    transition: clip-path 1000ms ease-in-out;
  }

  &:last-child {
    z-index: 2;
    clip-path: polygon(0 0, 80% 0, 80% 100%, 0% 100%);
    transition: clip-path 1000ms ease-in-out;
  }
}

.slide-width-animate {
  &:first-child {
    z-index: 1;
    clip-path: polygon(0 0, 80% 0, 80% 100%, 0% 100%);
    transition: clip-path $transition-parallax-1;
  }

  &:last-child {
    z-index: 2;
    clip-path: polygon(80% 0, 100% 0, 100% 100%, 80% 100%);

    transition: clip-path $transition-parallax-1;
  }
}

.slide-width-animate-secondary {
  &:first-child {
    z-index: 2;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 20% 100%);
    transition: clip-path 1000ms ease-in-out;
  }

  &:last-child {
    z-index: 1;
    clip-path: polygon(0 0, 20% 0, 20% 100%, 0% 100%);
    transition: clip-path 1000ms ease-in-out;
  }
}

.special-offer-desc-wrapper {
  margin-bottom: 2.5rem;
  &:last-child {
    margin-bottom: 0;
  }
}
