.facilities-icon {
    &_frame {
        width: 2.6875rem;
        height: 2.75rem;
        background-image: url('../../assets/images/facilities-frame.png');
        background-size: 100%;
        background-repeat: no-repeat;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_img {
        width: 1.5rem;
        height: 1.5rem;
    }

}