@import "../variables.scss";

input#acf-field_665b1c1ee07a5-alt {
  display: none;
}

.acf-form {
  width: 50rem;
  & .acf-fields .acf-field {
    padding: 0;
    margin: 0;
  }
  & .acf-fields > .acf-field {
    border: 0;
  }
  & .acf-fields.-border {
    border: none;
    background-color: transparent;
  }
  & .acf-field .acf-label {
    margin: 0;
    & label {
      margin: 0;
      font-weight: 400;
    }
  }
  & .form-images .acf-fields {
    display: flex;
    gap: 0.5rem;
  }
  & .custom-acf-btn {
    display: block;
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    border: 0.0625rem solid $grey_green;

    & .plus-sign {
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      width: 1.25rem;
      height: 1.25rem;

      &::before,
      &::after {
        content: "";
        position: absolute;
        background-color: $grey_green;
      }

      &::before {
        top: 50%;
        left: 0;
        width: 100%;
        height: 0.0625rem;
        transform: translateY(-50%);
      }

      &::after {
        top: 0;
        left: 50%;
        width: 0.0625rem;
        height: 100%;
        transform: translateX(-50%);
      }
    }
  }
}

.acf-required {
  display: none;
}

.form-row .acf-fields,
.acf-field-date-picker {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10rem;
}

//range
.star-rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  display: inline-flex;
  gap: 0.5rem;
  cursor: pointer;
}

.star {
  color: #e7e7e7;
  position: relative;
  font-size: 1.5rem;
}

.star::before {
  content: "★";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  -webkit-text-stroke: 0.025rem $main_text;
  text-stroke: 0.025rem $main_text;
}

.star:hover,
.star:hover ~ .star {
  color: $yellow;
}

.star.selected {
  color: $yellow;
}
