@import "../main/variables.scss";

.feedback {
  &__backdrop {
    position: fixed;
    z-index: 10;
    @media screen and (max-width: $mobile) {
      z-index: 110;
    }
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity $transition-function;
  }

  &__backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  &__backdrop.is-hidden .feedback-modal {
    transform: translate(-50%, -50%) translateX(-100%);
    @media screen and (max-width: $mobile) {
      transform: translateX(-100%);
    }
  }

  &__modal {
    position: absolute;
    opacity: 1;
    visibility: visible;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(0);
    width: 57.5rem;
    padding: 48px 116px;

    max-height: 98%;
    @media screen and (min-width: $desktop) {
      padding: 48px 160px;
    }

    overflow-y: auto;
    background-color: $white;
    border-radius: $small-border-radius;
    box-shadow: 0px 4px 122px 40px rgba(0, 0, 0, 0.25);
    transition: transform $transition-function;

    @media screen and (max-width: $mobile) {
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      max-height: 100%;
      padding: 5.93rem 1.81rem;
      padding-bottom: 3.5rem;
      transform: translateX(0);
      overflow-y: auto !important;
    }

    &-close {
      position: absolute;
      top: 2rem;
      right: 2rem;
      width: 1.5rem;
      height: 1.5rem;
      & .icon__cross {
        stroke: $green_light;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    //range
    .star-rating {
      unicode-bidi: bidi-override;
      direction: rtl;
      display: inline-flex;
      gap: 0.5rem;
      cursor: pointer;
    }

    .star {
      color: #e7e7e7;
      position: relative;
      font-size: 1.5rem;
    }

    .star::before {
      content: "★";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: transparent;
      -webkit-text-stroke: 0.025rem $main_text;
      text-stroke: 0.025rem $main_text;
    }

    .star:hover,
    .star:hover ~ .star {
      color: $yellow;
    }

    .star.selected {
      color: $yellow;
    }
  }
}
/* form feedback */

.form-feedback {
  padding-top: 54px;
  @media screen and (min-width: $desktop) {
    padding-top: 74px;
  }

  display: flex;
  flex-direction: column;

  margin: 0 auto;

  @media screen and (max-width: $mobile) {
    padding-top: 5.12rem;
    width: 100%;
    overflow-y: auto !important;
  }

  &__user-name {
    position: relative;
    width: 25rem;
    margin-bottom: 2rem;

    @media screen and (max-width: $mobile) {
      width: 100%;
      margin-bottom: 4rem;
    }
    label {
      width: 100%;
      font-size: 1rem;
      letter-spacing: 0.04px;
      z-index: 2;
    }
    input {
      position: relative;
      width: 100%;
      max-width: 100%;
      z-index: 5;
      font-size: 1rem;
      letter-spacing: 0.04px;
      padding-left: 0;
      border: none;
      border-bottom: 1px solid $grey_green !important;
      padding-bottom: 8px;
      @media screen and (max-width: $mobile) {
        width: 100%;
      }

      @media screen and (min-width: $mobile) {
        &:hover,
        &:focus {
          transition: border-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
          border-color: $green_light;
        }
      }

      &:active {
        transition: border-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        border-color: $green_light;
      }
    }
  }

  &__user-photo-wrapper {
    display: flex;
    align-items: center;
    column-gap: 36px;
    width: 100%;
    min-height: 56px;
    margin-bottom: 46px;
    @media screen and (min-width: $desktop) {
      margin-bottom: 56px;
    }

    @media screen and (max-width: $mobile) {
      flex-direction: column;
      row-gap: 1.5rem;
      margin-bottom: 4rem;
    }
    label {
      position: relative;
      padding-bottom: 8px;

      @media screen and (max-width: $mobile) {
        border-bottom: 1px solid $grey_green;
        width: 100%;

        &::before {
          display: none;
        }
      }
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 0%;
        height: 1px;
        border-bottom: 1px solid $green_light;
        transition: border-bottom 1s;
      }
    }

    @media screen and (min-width: $mobile) {
      &:hover,
      &:focus {
        outline: none;
        label {
          position: relative;
          &::before {
            content: "";

            width: 100%;

            transition: width 0.5s;
          }
        }

        & .custom-user-photo-input {
          .default-user-img {
            width: 64px !important;
            height: 64px !important;

            transition: width 1s, height 1s;
          }
        }
      }
    }

    &:active {
      & .custom-user-photo-input {
        .default-user-img {
          width: 64px !important;
          height: 64px !important;

          transition: width 1s, height 1s;
        }
      }
    }

    & .user-image-box {
      display: flex;
      align-items: center;
      column-gap: 0.75rem;

      & .custom-user-photo-input {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 63px;
        height: 63px;
        cursor: pointer;

        & .default-user-img {
          width: 56px;
          height: 56px;
          transition: width 1s, height 1s;
        }

        &:hover {
          & .delete-user-image {
            opacity: 1;
            visibility: visible;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1);
          }
        }

        & .delete-user-image {
          position: absolute;
          top: -5%;
          right: -5%;
          z-index: 99;

          opacity: 0;
          visibility: hidden;

          @media screen and (max-width: $mobile) {
            opacity: 1;
            visibility: visible;
          }

          &:hover {
            svg {
              fill: $orange;
              transition: $transition-function;
            }
          }
        }
        & .img-visable {
          position: relative;
          z-index: 20;
          width: 63px;
          height: 63px;
          border-radius: 50%;
          object-fit: cover;
        }
        input {
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
        }
      }

      & .edit-image {
        width: 20px;
        height: 20px;
        display: none;
        background: transparent url("../../../assets/images/edit.svg") no-repeat
          center / contain;
        color: transparent;

        &:hover {
          background: transparent url("../../../assets/images/edit2.svg")
            no-repeat center / contain;
        }
      }
    }
  }

  &__ratinge-box {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 40px;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    @media screen and (max-width: $mobile) {
      flex-direction: column;
      row-gap: 1.5rem;
      margin-top: 4rem;
      margin-bottom: 4rem;
    }

    & .form-feedback__warning-box {
      bottom: -1.25rem;
    }

    label {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: -8px;
        width: 0%;
        height: 1px;
        border-bottom: 1px solid $green_light;
        transition: border-bottom 1s;
      }

      @media screen and (max-width: $mobile) {
        width: 100%;
        border-bottom: 1px solid $grey_green;
        padding-bottom: 8px;
        &::before {
          display: none;
        }
      }
    }

    &:hover,
    &:focus {
      outline: none;

      label {
        position: relative;
        &::before {
          content: "";

          width: 100%;
          border-bottom: 1px solid $green_light;
          transition: width 0.5s;
        }
      }
    }
  }

  &__add-images-wrapper {
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin-bottom: 2rem;
    width: max-content;
    @media screen and (max-width: $mobile) {
      width: 100%;
      flex-direction: column;
      row-gap: 1.5rem;
      margin-bottom: 4rem;
    }

    label {
      position: relative;

      @media screen and (max-width: $mobile) {
        width: 100%;
        padding-bottom: 8px;
        border-bottom: 1px solid $grey_green;
        &::before {
          display: none;
        }
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -8px;
        width: 0%;
        height: 1px;
        border-bottom: 1px solid $green_light;
        transition: border-bottom 1s;
      }
    }

    @media screen and (min-width: $mobile) {
      &:hover,
      &:focus {
        outline: none;

        & .animation-input-img {
          position: absolute;
          display: block;
          margin: 0 auto;
          left: 1px !important;
          width: 64px !important;
          height: 64px !important;
        }

        label {
          position: relative;
          &::before {
            content: "";

            width: 100%;

            transition: width 0.5s;
          }
        }
      }
    }

    &:active {
      & .animation-input-img {
        position: absolute;
        display: block;
        margin: 0 auto;
        left: 1px !important;
        width: 64px !important;
        height: 64px !important;
      }
    }

    & .custom-add-images {
      & .custom-add-photos-input {
        display: flex;
        align-items: center;
        width: 100%;

        .add-img-wraper {
          position: relative;

          width: 64px;
          height: 64px;
          display: flex;

          justify-content: center;
          align-items: center;
          .animation-input-img {
            position: absolute;
            position: absolute;
            left: 4px;
            width: 56px;
            height: 56px;
          }
        }

        .animation-input-img-other {
          width: 40px;
        }

        input {
          opacity: 0;
          position: absolute;
          width: 144px;
          height: 57px;
        }
      }
      & .custom-images-wrapper {
        display: flex;
        align-items: center;
        column-gap: 0.87rem;
      }
      & .custom-images-box {
        height: 2.5rem;
        display: flex;
        align-items: center;
        column-gap: 0.25rem;
        width: 100%;

        @media screen and (max-width: $mobile) {
          margin: 0 auto;
          height: 100%;
          max-width: 12.5rem;
          flex-wrap: wrap;
          row-gap: 0.25rem;
        }
        img {
          width: 2.5rem;
          height: 2.5rem;
          object-fit: cover;
          position: relative;
        }
      }
    }
  }

  &__text-box {
    position: relative;
    width: 100%;
    margin-bottom: 60px;
    @media screen and (min-width: $desktop) {
      margin-bottom: 80px;
    }
    & .form-feedback__warning-box {
      bottom: -0.7rem;
    }

    @media screen and (max-width: $mobile) {
      margin-bottom: 80px;
    }

    textarea {
      width: 100%;
      min-height: 2rem;
      height: 100%;
      max-width: 100%;
      padding-right: 8px;
      overflow-y: hidden;
      border: none;
      border-bottom: 1px solid $grey_green !important;
      resize: none;
      position: relative;
      z-index: 5;
      font-size: 1rem;
      letter-spacing: 0.04px;
      padding-bottom: 8px;
      padding-left: 0;
      margin-bottom: 8px;

      &:hover,
      &:focus {
        transition: border-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        border-color: $green_light;
      }
    }
  }

  &__warning-box {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .feedback-error {
      font-size: 0.75rem;
      color: $grey_green;
      line-height: 0.97rem;
    }
    & .feedback-max-length {
      float: right;
      font-size: 0.75rem;
      color: $grey_green;
      line-height: 0.97rem;
    }
  }

  &__btn_box {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 64px;

    @media screen and (max-width: $mobile) {
      row-gap: 1rem;
      width: 100%;
      flex-direction: column;
    }

    & .feedback-submit-btn {
      border-radius: 6px;
      background: $yellow;

      width: 11.75rem;
      height: 3rem;

      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 0.04rem;

      @media screen and (max-width: $mobile) {
        width: 100%;
      }

      @media screen and (min-width: $mobile) {
        &:hover {
          transition: 300ms ease-in-out;
          background-color: $hovered_btn_yellow;
        }

        &:focus {
          transition: 300ms ease-in-out;
          background-color: $hovered_btn_yellow;
        }
      }

      &:active {
        transition: 300ms ease-in-out;
        background-color: $pressed_btn_yellow;
      }
    }

    & .feedback-cancel {
      border-radius: 4px;
      border: 1px solid $main_text;
      width: 11.75rem;
      height: 3rem;
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 0.04rem;
      @media screen and (max-width: $mobile) {
        width: 100%;
      }

      @media screen and (min-width: $mobile) {
        &:hover,
        &:focus {
          color: $orange;
          border: 1px solid $orange;

          transition: 300ms ease-in-out;
        }
      }
    }
  }
}

.feedback-img-container {
  position: relative;

  &:hover {
    .remove-btn {
      opacity: 1;
      visibility: visible;
    }
  }
}

.remove-btn {
  position: absolute;
  top: -24%;
  right: -14%;
  opacity: 0;
  visibility: hidden;

  &:hover {
    svg {
      fill: $orange;
      transition: $transition-function;
    }
  }

  @media screen and (max-width: $mobile) {
    opacity: 1;
    visibility: visible;
  }
}
#feedback_ratinge {
  display: none;
}

.feedback-name-placeholder {
  position: absolute;
  top: 0.6rem;
  transition: top 1s;
}

.feedback-name-placeholder---top {
  position: absolute;
  top: -1.25rem;
  transition: top 1s;

  color: $disabled_text;
  font-size: 0.87rem !important;

  line-height: 1.13rem;

  span {
    color: $disabled_text;
  }
}

.feedback-text-placeholder {
  position: absolute;
  left: 0;
  top: 1rem;
  transition: top 1s;
}

.feedback-text-placeholder---top {
  position: absolute;
  top: -0.6rem;
  transition: top 1s;

  color: $disabled_text;
  font-size: 0.87rem;

  line-height: 1.13rem;

  span {
    color: $disabled_text;
  }
}

.custom-select {
  position: relative;
  max-width: 25rem;
  & .form-feedback__warning-box {
    bottom: -1.25rem;
  }
  &__selected-option {
    border-bottom: 1px solid $grey_green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    &:hover,
    &:focus {
      cursor: pointer;
      transition: border-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      border-color: $green_light;

      span {
        svg {
          transition: fill 1s cubic-bezier(0.075, 0.82, 0.165, 1);
          fill: $green_light;
        }
      }
    }
    span {
      svg {
        width: 0.87rem;
        height: 0.5rem;
        fill: $grey_green;
      }
    }

    & .current-option {
      font-size: 1rem;
      letter-spacing: 0.04px;
    }
  }
}

.selected-open-icon---top {
  transform: rotate(180deg);
}

.custom-select__options-list {
  position: absolute;
  padding: 1rem;
  border: 1px solid $green_light;
  background-color: $white;
  width: 100%;
  z-index: 40;
  opacity: 0;
  height: 0%;

  visibility: hidden;

  @media screen and (max-width: $mobile) {
    width: 100%;
  }
  & .options-item {
    margin-bottom: 1rem;

    cursor: pointer;

    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;

    &:hover {
      color: $orange;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.current-option---active-color {
  color: #8f978d;
}

#feedback_housing {
  display: none;
}

#next-add-images {
  display: none;
}

.error {
  color: red !important;
}

.feedback-response {
  opacity: 0;
  visibility: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(0);
  width: 55rem;
  padding: 2.375rem 12.5rem;

  background-color: $white;
  border-radius: $small-border-radius;
  box-shadow: 0px 4px 122px 40px rgba(0, 0, 0, 0.25);

  @media screen and (max-width: $mobile) {
    width: 100%;
    height: 100%;
    padding: 3rem;
    padding-top: 50%;
  }

  &__modal-title {
    margin-bottom: 3.5rem;
  }
  h3 {
    color: #3c4839;
    text-align: center;
    font-size: 1rem;

    font-weight: 500;
    letter-spacing: 0.04rem;

    margin-bottom: 5rem;
  }

  &__logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .animation-box {
      width: 5.25rem;
      height: 5.25rem;
      cursor: default !important;
      &:hover,
      &:focus {
        transition: none;
      }
      svg {
        width: 5.25rem;
        height: 5.25rem;
      }
    }
  }
}

.feedback-response---active {
  opacity: 1;
  visibility: visible;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.feedback__modal---hide {
  opacity: 0;
  visibility: hidden;
}

.asterisk {
  color: red;
}

#error-responce {
  color: red;
}

.feedback-submit-btn.disabled {
  cursor: default;
  color: #e7e7e7;
  background-color: #8f978d !important;
}

.custom-select__options-list.open {
  height: max-content;
  max-height: 20rem;
  overflow: auto;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;

  .options-item {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s;
  }
}
