@import "../main/variables.scss";

.feedbacks__section {
  padding-bottom: 7.5rem;
  @media screen and (min-width: $mobile) {
    padding-bottom: 11.25rem;
  }

  &__container {
    padding-left: 0.625rem;
    padding-right: 0.625rem;

    max-width: 76.25rem;
    margin-left: auto;
    margin-right: auto;
  }

  &-title {
    margin-bottom: 3rem;
    @media screen and (max-width: $mobile) {
      margin-bottom: 2.5rem;
    }
  }

  &-swiper {
    height: max-content;
    padding-right: 0.375rem;
    margin-bottom: 3rem;
    width: initial;

    &:hover {
      .feedbacks__section-custom-btn-next {
        opacity: 1;
        transition: opacity 0.5s;
      }

      & .swiper-button-disabled {
        opacity: 0.5 !important;
        transition: opacity 0.5s;
      }

      &:hover {
        .feedbacks__section-custom-btn-prev {
          opacity: 1;
          transition: opacity 0.5s;
        }
      }
    }
    @media screen and (max-width: $mobile) {
      margin-bottom: 1.5rem;
    }
  }

  & .swiper-pagination.feedbacks__swiper-pagination {
    position: static;
    display: flex;
    gap: 1rem;
    width: fit-content;
    margin: 2rem auto 0;
    @media screen and (max-width: $mobile) {
      margin-top: 24px;
    }
    & .swiper-pagination-bullet {
      margin: 0;
      width: 0.5rem;
      height: 0.5rem;
      background-color: transparent;
      opacity: 1;
      border-radius: 100%;
      border: 0.0625rem solid $grey_green;
      &.swiper-pagination-bullet-active {
        border-color: #3c4839;
      }
    }
  }

  &-btns {
    position: relative;
    & .learnmore_button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      @media screen and (max-width: $mobile) {
        position: relative;
        margin: 0 auto 2.5rem;
        transform: none;
        right: initial;
      }
    }
  }

  & .swiper-button-disabled {
    opacity: 0 !important;
    transition: opacity 0.5s;
    cursor: default;

    &:active {
      svg {
        stroke: $main_text;
        transition: none;
      }
    }
  }

  &-custom-btn-next {
    @media screen and (max-width: $tablet) {
      display: none;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    right: 12px;
    z-index: 15;
    width: 3rem;
    height: 3rem;
    background-color: $white;
    border-radius: 100%;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s;

    svg {
      stroke: #3c4839;

      transform: rotate(180deg) scale(1.2);
    }

    &:active {
      svg {
        stroke: $grey_green;
        transition: opacity 0.5s;
      }
    }
  }

  &-custom-btn-prev {
    @media screen and (max-width: $tablet) {
      display: none;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 4px;
    z-index: 15;
    width: 3rem;
    height: 3rem;
    background-color: $white;

    border-radius: 100%;

    cursor: pointer;
    svg {
      stroke: #3c4839;
    }

    opacity: 0;
    transition: opacity 0.5s;

    &:active {
      svg {
        stroke: $grey_green;
        transition: opacity 0.5s;
      }
    }
  }
}
