.heart-icon-wrapper__icon {
  animation: heartbeat 3s ease-in-out infinite;
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(0.9);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1);
  }
}
