@import "../variables";

.loader {
  border: 8px solid $grey_green;
  border-top: 8px solid $green_light;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  @media screen and (max-width: $tablet) {
    border: 4px solid $grey_green;
    border-top: 4px solid $green_light;
    width: 30px;
    height: 30px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
