@import "../variables.scss";

.location-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__subtitle {
    font-weight: 500;
    font-size: 1.25rem;
    letter-spacing: 0.06em;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }

  &__address {
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.04em;
    margin-bottom: 3.75rem;
  }
}
