@import "../main/variables.scss";

.onefeedback {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 29.125rem;
  border: 0.0625rem solid $grey_green;
  border-radius: 0.125rem;
  padding: 1.5rem;
  @media screen and (max-width: $mobile) {
    height: 22.75rem;
    padding: 1rem;
  }
  &__rate {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    @media screen and (max-width: $mobile) {
      margin-bottom: 0.5rem;
    }
  }
  &__star {
    color: $yellow;
    position: relative;
    font-size: 1.5rem;
    line-height: 1;
    &::before {
      content: "★";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: transparent;
      -webkit-text-stroke: 0.025rem $main_text;
      text-stroke: 0.025rem $main_text;
    }
  }

  &__box {
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    @media screen and (max-width: $mobile) {
      height: 10.875rem;
    }
    text-align: start;
    &-description {
      letter-spacing: 0.04em;
      word-wrap: break-word;
      word-break: break-all;
      @media screen and (max-width: $mobile) {
        display: none;
        font-size: 0.875rem;
      }
    }
    &-description--mobile {
      letter-spacing: 0.04em;
      display: none;
      @media screen and (max-width: $mobile) {
        display: block;
        font-size: 0.875rem;
      }
    }

    &-photos {
      display: flex;
      gap: 0.625rem;
      @media screen and (max-width: $mobile) {
        gap: 0.325rem;
      }
    }
    &-image {
      width: 3.5rem;
      height: 3.5rem;
      @media screen and (max-width: $mobile) {
        width: 3.625rem;
        height: 3.625rem;
      }
      &.more:nth-child(5) {
        .onefeedback__image {
          filter: blur(0.125rem);
        }
      }
    }
  }

  &__image {
    object-fit: cover;
  }

  &__user {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;

    &-image_wrap {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      overflow: hidden;
      @media screen and (max-width: $mobile) {
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media screen and (max-width: $mobile) {
        gap: 0;
        justify-content: center;
      }
      &_name {
        text-align: start;
        font-weight: 500;
        font-size: 1.25rem;
        letter-spacing: 0.06em;
        @media screen and (max-width: $mobile) {
          font-size: 1.125rem;
        }
      }
      &_date {
        text-align: start;
        @media screen and (max-width: $mobile) {
          font-size: 0.875rem;
        }
      }
    }
  }
}
