@import "../main/variables.scss";
@import "../main/mixins.scss";

.search-reserve-layout {
  width: 100%;
  max-width: 61.12rem;
  border-radius: 0.5rem;
  backdrop-filter: blur(4.5px);
  margin: 0 auto;
  padding-top: 1.85rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1.37rem;
  background: url(../../assets/images/reserve-layout.png) repeat;
  @include media_rule($mobile) {
    display: flex;
    align-items: center;

    padding-top: 2.4rem;
    padding-bottom: 2.09rem;
    padding-left: 2.46rem;
    padding-right: 2.46rem;
  }

  & .search-form-wrapper {
    width: 100%;

    & .mphb-required-fields-tip {
      display: none;
    }

    & .mphb_sc_search-form {
      width: 100%;
      margin: 0 auto;
      &:last-child {
        margin-bottom: 0;
      }
      & p {
        padding: 0;

        margin-bottom: 0;

        @include media_rule_max($mobile) {
          margin-bottom: 1rem;
        }
      }
      @include media_rule($mobile) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        column-gap: 1rem;
        margin-bottom: 0;
      }

      & p label {
        width: max-content;
        font-size: 1rem !important;
        margin-bottom: 0.5rem;
      }

      & .mphb_check_in_date-mphb-search-form-66d0c82c57f4c {
        background-color: red !important;
      }
    }

    & input[type="text"].mphb-datepick.is-datepick {
      width: max-content;
      font-size: 1rem !important;
    }

    & .mphb_sc_search-submit-button-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.34rem;
      background-color: $yellow;

      margin: 0 auto;

      width: 100%;
      padding: 16px 48px !important;

      @media screen and (min-width: $mobile) {
        &:hover {
          transition: 300ms ease-in-out;
          background-color: $hovered_btn_yellow;
        }

        &:focus {
          transition: 300ms ease-in-out;
          background-color: $hovered_btn_yellow;
        }
      }

      &:active {
        transition: 300ms ease-in-out;
        background-color: $pressed_btn_yellow;
      }

      & input {
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.04rem;
      }
    }
  }
}
