@import "../main/variables.scss";
@import "../main/mixins.scss";

.search-reserve-layout {
  width: 100%;
  max-width: 61.12rem;
  border-radius: 0.5rem;

  margin: 0 auto;

  background: url(../../assets/images/reserve-layout.png) repeat;
  backdrop-filter: 20px;
  @include media_rule($mobile) {
    display: flex;
    align-items: center;
  }

  & .search-form-wrapper {
    width: 100%;

    padding-top: 1.85rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.37rem;

    @include media_rule($mobile) {
      padding-top: 2.4rem;
      padding-bottom: 2.09rem;
      padding-left: 2.46rem;
      padding-right: 2.46rem;
    }

    & .mphb_sc_search-adults {
      @include media_rule_max($mobile) {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 1rem !important;

        &::after {
          content: "";
          right: 0;
          position: absolute;

          margin-left: 8px;
          background-image: url("../../assets/images/arrow-botton.svg");
          background-repeat: no-repeat;
          width: 14px;
          height: 8px;
        }

        & select {
          width: 40px !important;
          text-align: center;
        }
      }
      @include media_rule($mobile) {
        width: max-content;
        margin-right: 4rem;
      }
      br {
        display: none;
      }
    }

    & .mphb_sc_search-check-in-date,
    .mphb_sc_search-check-out-date {
      @include media_rule_max($mobile) {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 1rem !important;

        &::after {
          content: "";
          right: 0;
          position: absolute;

          margin-left: 8px;
          background-image: url("../../assets/images/arrow-botton.svg");
          background-repeat: no-repeat;
          width: 14px;
          height: 8px;
        }
      }
      @include media_rule($mobile) {
        width: max-content;
        margin-right: 4rem;
      }

      br {
        display: none;
      }
      label {
        position: relative;
        display: flex;
        align-items: center;

        &::after {
          @include media_rule_max($mobile) {
            display: none;
          }
          margin-left: 8px;
          content: "";
          background-image: url("../../assets/images/arrow-botton.svg");
          background-repeat: no-repeat;
          width: 14px;
          height: 8px;
        }
      }
      input {
        color: $main_text;
        &::placeholder {
          color: $main_text;
        }
      }
    }
    & .mphb_sc_search-adults > label {
      position: relative;
      display: flex;
      align-items: center;

      &::after {
        @include media_rule_max($mobile) {
          display: none;
        }
        margin-left: 8px;
        content: "";
        background-image: url("../../assets/images/arrow-botton.svg");
        background-repeat: no-repeat;
        width: 14px;
        height: 8px;
      }
    }
    & input[type="text"].mphb-datepick.is-datepick {
      width: max-content;
      max-width: 7.62rem;
      font-size: 1rem !important;
      padding: 0;
      border: none !important;

      background-image: none;
    }

    & .mphb_sc_search-form input,
    .mphb_sc_search-form select {
      max-width: 100%;
      border: none;
      padding: 0;
      background-image: none;
    }
    & .mphb-required-fields-tip {
      display: none;
    }

    & .mphb_sc_search-form {
      width: 100%;
      margin: 0 auto;
      &:last-child {
        margin-bottom: 0;
      }
      & p {
        padding: 0;

        margin-bottom: 0;

        @include media_rule_max($mobile) {
          margin-bottom: 1rem;
        }
      }
      @include media_rule($mobile) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 0;
      }

      & p label {
        width: max-content;
        font-weight: 600;
        color: $main_text;
        font-size: 1rem !important;
        @include media_rule($mobile) {
          margin-bottom: 0.5rem;
        }
      }

      & .mphb_check_in_date-mphb-search-form-66d0c82c57f4c {
        background-color: red !important;
      }
    }

    & input[type="text"].mphb-datepick.is-datepick {
      width: max-content;
      font-size: 1rem !important;

      @include media_rule_max($mobile) {
        text-align: end;
      }
    }

    & .mphb_sc_search-submit-button-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.34rem;
      background-color: $yellow;

      margin: 0 auto;

      width: 100%;
      height: 3rem;
      margin-bottom: 0 !important;
      @media screen and (min-width: $mobile) {
        &:hover {
          transition: 300ms ease-in-out;
          background-color: $hovered_btn_yellow;
        }

        &:focus {
          transition: 300ms ease-in-out;
          background-color: $hovered_btn_yellow;
        }
      }

      &:active {
        transition: 300ms ease-in-out;
        background-color: $pressed_btn_yellow;
      }

      & input {
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.04rem;
        width: 100%;
        height: 100%;
      }
    }
  }
}
