.social-icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 156px;
  height: 40px;
  overflow: hidden;
  column-gap: 1rem;
  &:hover {
    .social-icon-wrapper__text {
      animation: move-up-down 1s linear 1;
    }
  }
}

.social-icon-wrapper__text {
  position: relative;
  animation: move-up-up 1s linear 1;
}

@keyframes move-up-down {
  0% {
    transform: translateY(-20%);
    opacity: 1;
  }
  25% {
    transform: translateY(-40%);
    opacity: 1;
  }

  25% {
    transform: translateY(-80%);
    opacity: 1;
  }

  45% {
    transform: translateY(-140%);
    opacity: 1;
  }
  50% {
    transform: translateY(-160%);
    opacity: 0;
  }

  55% {
    transform: translateY(155%);
    opacity: 0;
  }

  55% {
    transform: translateY(125%);
    opacity: 0;
  }

  65% {
    transform: translateY(100%);
    opacity: 1;
  }

  65% {
    transform: translateY(85%);
    opacity: 1;
  }

  70% {
    transform: translateY(55%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);

    opacity: 1;
  }
}

@keyframes move-up-up {
  0% {
    transform: translateY(20%);
    opacity: 1;
  }
  25% {
    transform: translateY(40%);
    opacity: 1;
  }

  25% {
    transform: translateY(80%);
    opacity: 1;
  }

  45% {
    transform: translateY(140%);
    opacity: 1;
  }
  50% {
    transform: translateY(160%);
    opacity: 0;
  }

  55% {
    transform: translateY(-155%);
    opacity: 0;
  }

  55% {
    transform: translateY(-125%);
    opacity: 0;
  }

  65% {
    transform: translateY(-100%);
    opacity: 1;
  }

  65% {
    transform: translateY(-85%);
    opacity: 1;
  }

  70% {
    transform: translateY(-55%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);

    opacity: 1;
  }
}

.heart-icon-wrapper__icon {
  animation: heartbeat 3s ease-in-out infinite;
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1);
  }
}

.social-icon-wrapper-booking {
  display: flex;

  flex-direction: column-reverse;
  align-items: center;
  &:hover {
    .social-icon-wrapper-booking__icon {
      scale: 1.1;
      transition: scale 0.5s;
    }

    .social-icon-wrapper__text {
      animation: move-up-down-text-btn 1s linear;
    }
  }

  & .social-text-wrapper {
    height: 2.1rem;
    overflow: hidden;
  }

  .social-icon-wrapper__text {
    position: relative;
    animation: move-up-up-text-btn 1s linear;
  }
  &__icon {
    margin-bottom: 0.5rem;
  }
}

@keyframes move-up-down-text-btn {
  0% {
    transform: translateY(-30%);
    opacity: 1;
  }
  25% {
    transform: translateY(-30%);
    opacity: 1;
  }

  25% {
    transform: translateY(-70%);
    opacity: 1;
  }

  45% {
    transform: translateY(-130%);
    opacity: 1;
  }
  50% {
    transform: translateY(-150%);
    opacity: 0;
  }

  55% {
    transform: translateY(145%);
    opacity: 0;
  }

  55% {
    transform: translateY(115%);
    opacity: 0;
  }

  65% {
    transform: translateY(90%);
    opacity: 1;
  }

  65% {
    transform: translateY(75%);
    opacity: 1;
  }

  70% {
    transform: translateY(45%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);

    opacity: 1;
  }
}

@keyframes move-up-up-text-btn {
  0% {
    transform: translateY(10%);
    opacity: 1;
  }
  25% {
    transform: translateY(30%);
    opacity: 1;
  }

  25% {
    transform: translateY(70%);
    opacity: 1;
  }

  45% {
    transform: translateY(130%);
    opacity: 1;
  }
  50% {
    transform: translateY(150%);
    opacity: 0;
  }

  55% {
    transform: translateY(-145%);
    opacity: 0;
  }

  55% {
    transform: translateY(-115%);
    opacity: 0;
  }

  65% {
    transform: translateY(-90%);
    opacity: 1;
  }

  65% {
    transform: translateY(-75%);
    opacity: 1;
  }

  70% {
    transform: translateY(-45%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);

    opacity: 1;
  }
}
